@media screen and (min-width: 769px) {
  .logo img {
    max-height: 650px;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .menu-itens {
    display: none;
    flex-direction: column;
  }

  .menu-itens.active {
    display: flex;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .cardapio-container {
    grid-template-columns: 1fr;
  }

  .cardapio-item {
    border-radius: 20px;
    margin: 15px 50px;
  }

  .cardapio-item img {
    max-height: 300px;
  }
}
