@media screen and (max-width: 768px) {
  .logo img {
    max-width: auto;
    
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .menu-itens {
    display: none;
    flex-direction: column;
  }

  .menu-itens.active {
    display: flex;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .menu-itens a{
    margin: 10px 20px;
  }
}

@media screen and (max-width: 767px) {
  .cardapio-container {
    grid-template-columns: 1fr;
  }

  .cardapio-item {
    border-radius: 20px;
    margin: 10px 15px;
  }

  .cardapio-item img {
    max-height: 290px;
  }
}
