@media screen and (max-width: 768px) {
  .logo img {
    max-width: auto;
    
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .menu-itens {
    display: none;
    flex-direction: column;
  }

  .menu-itens.active {
    display: flex;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .menu-itens a{
    margin: 10px 20px;
  }

  .cardapio-container {
    grid-template-columns: 1fr;
  }

  .cardapio-item {
    border-radius: 20px;
    margin: 10px 15px;
    width: 300px;
  }

  .cardapio-item img {
    max-height: 290px;
  }

  .contato {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .contato h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .contato p {
    font-size: 16px;
    line-height: 1.4;
  }

  .sobre {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .sobre h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .sobre p {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
  }
}